{% extends 'base.html.twig' %}

{% block title %}ADD NEW MANGA{% endblock %}

{% block body %}

    {% include 'nav.html.twig' %}

    <div class="form-container">
        <h1>Ajout de manga</h1>

        {{ form(form)}}

    </div>

    

{% endblock %}