
body {
    background: #21203C;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #21203C;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: rgb(212, 212, 212);
    }

}

.body-white {
    background: white;
}

nav {

    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #141324;


    a {
        background: #21203C;
        padding: 1rem;
        color: white;
        font-family: Roboto, sans-serif;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .separator {


        width: 3px;
        height: 5vh;
    
        z-index: 1;
    
        background: #23243d;
        opacity: 0.8;
        padding: 0;
        border-radius: 20px;
    }
}


.home-top {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 2vw 0 0 10vw;
    align-items: center;
    overflow: hidden;
}

.h-left > .home-top {
    flex-direction: column;
    align-items: flex-start;
    overflow: visible;
}

.home-volume {
    background: #3D485A5E;
    padding: 15px;
    box-sizing: border-box;
    margin-right: 50px;
    border-radius: 10px;
    font-family: Roboto,sans-serif;
}

.home-manga {
    display:flex;
    align-items:center;
    background:#1e2834;
    color:#fff;
    padding:0 50vw 0 0;
    box-sizing:border-box;
    margin-bottom:10px;
    border-radius:1rem;
}

.home-titre {
    margin: 0 0 1rem 0;
    font-family: Roboto, sans-serif;
    color:#fff;
    font-weight:700;
    text-transform:uppercase;
    font-size: 1.5rem;
    text-align: center;
}

.h-left,.h-right {
    width:100%;
    box-sizing:border-box;
    padding-right:20px
}

.h-right .home-manga {
    border-radius:5px;
    align-items:center;
    height:65px;
    padding-left:20px;
    padding-right:20px
}

.hmi-rating {
    font-size:0.8rem;
}

.fiche_cover {
    height: 305px;
    background-position: center center 
}

.hm-image{
    padding: 1rem;
    height:65px;
    width:65px;
    position:relative;
    margin-right:15px;
    border-radius: 1rem;
}

.hm-info{
    font-size:18px;
    position: relative;
    z-index: 10;
	display: inline-flex;
	flex-direction: column;
	width: max-content;
}
.hm-right{
    direction:rtl;
    flex-shrink:5
}
.hm-image img{
    width:inherit;
    height:inherit;
    object-fit:cover;
    position:relative;
    z-index:100;
    border-radius:1rem;
    object-position:center
}
.hm-left{
    display:flex;
    align-items:center;
    color:#fff
}
.new-chapter .hm-left{
    color:#fff
}

.hmi-titre:hover::after {
    width: 100%;
    background: #FFF;
    
}
.hmi-titre {
    font-weight: 600;
    position: relative;
    display: inline-block;
    font-size: 1rem;

    &:nth-child(1) {
        font-size: 1.5rem;
    }

    &:nth-child(2) {
        font-size: 1rem;
    }
}
.hmi-titre .jap{
    color:rgb(250, 91, 91);

}

.hmi-titre::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    border-radius: 100%;
    transition: 0.3s ease width 
}

.details-manga {
    display:flex;
    align-items:center;
    background:#1e2834;
    color:#fff;
    padding:2rem;
    box-sizing: border-box;
    margin-bottom:10px;
    border-radius:1rem;
    
    .d-left {
        width: 30%;
        display:flex;
        align-items:center;
        flex-direction:column;
        margin-right:20px;

        .d-img {
            max-width: 390px;
            max-height: 510px;
            width: 50%;
            height: 50%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }
    }

    .d-right {
        width: 70%;
        flex-direction: column;
    }
    

    h1, p {
        color: #fff;
        font-family: Roboto,sans-serif;
    }
    
}