{% block body %}

    <nav>
        <div class="nav-left">
            <a href="/">Byscan</a>
        </div>
        <span class="separator"></span>
        <div class="nav-right">
            <a href="/manga/add">Ajout de manga</a>
            <a href="/manga/add/csv">Ajout par CSV</a>
            <a href="/stats">Stats</a>
        </div>
    </nav>
    
{% endblock %}